*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: black;
    height: 550px;
    width: 100%;

}
.backapp{
    height: 600px;
    width: 100%;
}
@media screen and (max-width:600px) {


.home{
    color: rgb(85, 112, 233);
    font-size: 25px;
    position: absolute;
    top: 20px;
    padding-left: 47%;

}


    .cls{
        position: absolute;
        top: 70px;
        padding-left: 15%;
        font-family:Arial, Helvetica, sans-serif;
        color: rgb(237, 237, 240);
    }
.t1{
    color: aliceblue;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 140px;
    margin-left: 11%;
}
#weight{
   position: absolute;
   top: 160px;
   margin-left: 11%;
   height: 30px;
   width: 270px;
   background-color: transparent;
   border: 1px solid rgb(85, 112, 233);
   box-shadow: 0px 0px 2px white;
   
   text-align: center;
   color: aliceblue;
   
}
#weight:hover{
    border: 1px solid rgb(133, 133, 133);
}
.t2{
    color: aliceblue;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:220px;
    margin-left: 11%;
}
#height{
    position: absolute;
    top: 240px;
    margin-left: 11%;
    height: 30px;
    width: 270px;
    background-color: transparent;
    border: 1px solid rgb(85, 112, 233);
    box-shadow: 0px 0px 2px white;
    
    text-align: center;
    color: aliceblue;
    
 }

 #height:hover{
    border: 1px solid rgb(133, 133, 133);
}
.t3{
    color: aliceblue;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:300px;
    margin-left: 11%;
}
 #age{
    position: absolute;
    top: 320px;
    margin-left: 11%;
    height: 30px;
    width: 270px;
    background-color: transparent;
    border: 1px solid rgb(85, 112, 233);
    box-shadow: 0px 0px 2px white;
    
    text-align: center;
    color: aliceblue;
    
 }
 #age:hover{
    border: 1px solid rgb(133, 133, 133);
}
.t4{
    color: aliceblue;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:380px;
    margin-left: 11%;
}
 #result{
    position: absolute;
    top: 400px;
    margin-left: 11%;
    height: 50px;
    width: 270px;
    background-color: transparent;
    border: 1px solid rgb(85, 112, 233);
    box-shadow: 0px 0px 2px white;
    
    text-align: center;
    color: aliceblue;
    
 }


 #click{
    position: absolute;
    top: 500px;
    background-color: rgb(38, 62, 168);
    border:0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 23%;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.4s;
}
#click:hover{
    background-color: rgb(12, 38, 158);
    transition: 0.3s;
}
}