*{
    padding: 0%;
    margin: 0%;
}

body{
    
    height: 700;
    width: 100%;

}

@media screen and (max-width:600px) {
    .img1{
        height: 730px;
        width: 100%;
    }
    .t1{
        position: absolute;
        top: 250px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.884);
        padding-left: 8%;
    }

    .open{
        position: absolute;
        top: 450px;
        background-color: transparent;
        border: 1px solid rgb(184, 184, 184);
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        margin-left: 32%;
        height: 40px;
        width: 135px;
        border-radius: 7px;
        cursor: pointer;
        transition: 0.3s;
        font-size: 15px;
    }

    .open:hover{
        border: 1px solid rgb(34, 34, 250);
        transition: 0.3s;
    }
}