*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: black;
    height: 700;
    width: 100%;

}
.backapp{
    height: 730px;
    width: 100%;
}
@media screen and (max-width:600px) {




    .cls{
        position: absolute;
        top: 70px;
        padding-left: 19%;
        font-family:Arial, Helvetica, sans-serif;
        color: rgb(237, 237, 240);
    }
.t1{
    color: aliceblue;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 140px;
    margin-left: 15%;
}
#weight{
   position: absolute;
   top: 160px;
   margin-left: 15%;
   height: 30px;
   width: 270px;
   background-color: transparent;
   border: 1px solid rgb(243, 44, 217);
   box-shadow: 0px 0px 2px white;
   
   text-align: center;
   color: aliceblue;
   
}
#weight:hover{
    border: 1px solid rgb(133, 133, 133);
}
.t2{
    color: aliceblue;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:220px;
    margin-left: 15%;
}
#height{
    position: absolute;
    top: 240px;
    margin-left: 15%;
    height: 30px;
    width: 270px;
    background-color: transparent;
    border: 1px solid rgb(243, 44, 217);
    box-shadow: 0px 0px 2px white;
    
    text-align: center;
    color: aliceblue;
    
 }

 #height:hover{
    border: 1px solid rgb(133, 133, 133);
}
.t3{
    color: aliceblue;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:300px;
    margin-left: 15%;
}
 #age{
    position: absolute;
    top: 320px;
    margin-left: 15%;
    height: 30px;
    width: 270px;
    background-color: transparent;
    border: 1px solid rgb(243, 44, 217);
    box-shadow: 0px 0px 2px white;
    
    text-align: center;
    color: aliceblue;
    
 }
 #age:hover{
    border: 1px solid rgb(133, 133, 133);
}
.t4{
    color: aliceblue;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:380px;
    margin-left: 15%;
}
 #result{
    position: absolute;
    top: 400px;
    margin-left: 15%;
    height: 50px;
    width: 270px;
    background-color: transparent;
    border: 1px solid rgb(243, 44, 217);
    box-shadow: 0px 0px 2px white;
    
    text-align: center;
    color: aliceblue;
    
 }


 #click{
    position: absolute;
    top: 500px;
    background-color: rgb(243, 44, 217);
    border:0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 26%;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.4s;
}
#click:hover{
    background-color: rgb(187, 6, 163);
    transition: 0.3s;
}
}